---
layout: main
pagination:
    data: likes.likes
    size: 1
    alias: like
permalink: "likes/{{ like.url | contentHash }}/"
tags: [likes]
---
<article class="h-entry">
    <header>
        By {% include "thingmejacks/h-card-mini.njk" %}
    </header>
    <p class="e-content">
        I liked <a class="u-like-of" href="{{ like.url }}">{{ like.url }}</a> 
        on <time class="dt-published" datetime="{{ like.date | dateToRfc3339 }}">
            {{ like.date | dateToHuman }}</time>
        <small>
            <a class="u-url" href="/likes/{{ like.url | contentHash }}">permalink</a>
        </small>
    </p>
</article>