---
title: Likes
---

<h1>{{ title }}</h1>

{% for like in likes.likes %}
    <section class="post-preview">
        <p>
            <a class="u-like-of" href="{{ like.url }}">{{ like.url }}</a>
        </p>
        <small>
            <time datetime="{{ like.date | dateToRfc3339 }}">{{ like.date | dateToHuman }}</time>
            <br>
            <a class="u-url" href="/likes/{{ like.url | contentHash }}">permalink</a>
        </small>
    </section>
{% endfor %}
