---
title: Notes
---

<h1>{{ title }}</h1>

{% for note in collections.notes %}
    {% set url = note.data.page.url %}
    <section class="post-preview h-entry">
        <p>
            <a class="p-name" href="{{ url }}">Note written on 
                <time class="dt-published" datetime="{{ note.date | dateToRfc3339 }}">{{ note.date | dateToHuman }}</time>
            </a>
        </p>
        <p class="p-summary">
            {{ note.templateContent | safe | truncate(140) }}
        </p>
        <small>
            <a class="u-url" href="{{ url }}">permalink</a>
        </small>
    </section>
{% endfor %}