---
layout: ""
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
{#  Shamelessly copied from
 https://github.com/11ty/eleventy-base-blog/blob/master/sitemap.xml.njk #}

<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {%- for page in collections.all %}
        {% set absoluteUrl %}{{ page.url | url | absoluteUrl(metadata.url) }}{% endset %}
        <url>
            <loc>{{ absoluteUrl }}</loc>
            <lastmod>{{ page.date.toISOString() }}</lastmod>
        </url>
    {%- endfor %}
</urlset>