<section class="h-card">
    <img
        class="u-photo"
        width="125"
        height="125"
        src="https://s.gravatar.com/avatar/4ca9f684dfc0f3cb3c8866d0b45bcc4b?s=256"
        rel="me" alt="A close-up photo of my face.">
    <a href="https://karawale.in" class="p-name u-url">Pranav Karawale</a>
    <p>
    Also known as <code>
            <span class="p-nickname">retronav</span></code>
    </p>
    <p class="p-note">Web developer, command line enthusiast</p>
    <p>
        <span class="p-region">Maharashtra</span>,
        <span class="p-country-name">India</span>
    </p>
</section>