<div class="h-card h-card-mini">
    <img class="u-photo" width="24" height="24" src="/img/me96.webp" alt="A close-up photo of my face.">
    <a href="/" class="p-name u-url">
        Pranav Karawale
    </a>
</div>