@use './variables.scss' as v;
header {
  margin: 1rem;
  nav ul {
    margin: 1rem 0 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    place-content: center;
  }
}
