/* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1140,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
:root {
  --step--2: clamp(0.69rem, calc(0.68rem + 0.05vw), 0.72rem);
  --step--1: clamp(0.83rem, calc(0.81rem + 0.13vw), 0.90rem);
  --step-0: clamp(1.00rem, calc(0.95rem + 0.24vw), 1.13rem);
  --step-1: clamp(1.20rem, calc(1.12rem + 0.40vw), 1.41rem);
  --step-2: clamp(1.44rem, calc(1.32rem + 0.62vw), 1.76rem);
  --step-3: clamp(1.73rem, calc(1.54rem + 0.92vw), 2.20rem);
  --step-4: clamp(2.07rem, calc(1.81rem + 1.31vw), 2.75rem);
  --step-5: clamp(2.49rem, calc(2.12rem + 1.84vw), 3.43rem);
}

:root {
  --light-color-main: #ebffff;
  --light-color-accent: #c2fdff;
  --light-color-main-text: #292929;
  --light-color-accent-text: #292929;
  --light-color-anchor: #0040b6;
  --light-color-blockquote: #444;

  --dark-color-main: #161517;
  --dark-color-accent: #242124;
  --dark-color-main-text: #fafafa;
  --dark-color-accent-text: #ebeaeb;
  --dark-color-anchor: #4fbeff;
  --dark-color-blockquote: #ccc;

  // Aliased with output from utopia.fyi
  --font-size-title: var(--step-5);
  --font-size-h1: var(--step-4);
  --font-size-h2: var(--step-3);
  --font-size-h3: var(--step-2);
  --font-size-h4: var(--step-1);
  --font-size-base: var(--step-0);
  --font-size-small: var(--step--1);

  --blockquote-border: 0.3rem solid #666;
  --font-family: 'CabinVariable', sans-serif;
  --code-font-family: 'Iosevka Minimal', monospace;
  --border-radius-generic: 5px;
}

@mixin main {
  color: var(--color-main-text);
  background-color: var(--color-main);
}

@mixin accent {
  color: var(--color-accent-text);
  background-color: var(--color-accent);
}

@mixin size-md {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin size-lg {
  @media (min-width: 769px) {
    @content;
  }
}

@mixin size-xl {
  @media (min-width: 1025px) {
    @content;
  }
}

@mixin links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  li:not(:last-child)::after {
    display: inline;
    content: '|';
    margin: 0 1ch;
  }
}
