<section class="comments">
    <h2>Comments</h2>
    <section class="webmention webmention-reactions">
        <p>
            To comment, like, or repost this page, my website supports 
            <a href="https://en.wikipedia.org/wiki/Webmention">webmentions</a>.
            Such interactions on different social media platforms will show up here.
            Alternatively, you can also send a webmention from your website using
            the form below.
            <br>
            <br>
            Or if you want to, you can e-mail your thoughts about it on 
            "<code>{{ links.contact.Email }}</code>".
        </p>
        <form class="send-webmention" action="{{ site.webmentionUrl }}" method="post">
            <label for="webmention-form-input">
                URL of your webmention
            </label>
            <input 
                id="webmention-form-input"
                name="source" type="url" 
                required placeholder="https://example.com/">
            <input 
                type="text"
                name="target"
                hidden value="{{ page.url | absoluteUrl(site.canonical) }}"
            >
            <input type="submit" value="Send webmention">
        </form>
        <details>
            <summary>
                Likes and reposts
            </summary>
            {% include "./webmention-reactions.njk" %}
        </details>
        <h3>Replies</h3>
        {% include "./webmention-replies.njk" %}
    </section>
    <section class="webmention-replies"></section>
</section>