<footer>
  <nav>
    <ul>
      {% for entry, link in links.nav %}
        <li>
          <a href="{{ link }}">{{ entry }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
  <p>
    <small>
      All content licensed under 
      <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">
        CC BY-NC-SA 4.0
      </a>
      , unless stated otherwise.
    </small>
  </p>
</footer>