<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content="{{ description if description else site.description }}"/>

<link rel="canonical" href="{{ site.canonical + page.url }}"/>

<link rel="me" href="https://github.com/retronav"/>
<link rel="me" href="https://fosstodon.org/@retronav"/>

{% if site.webmentionUrl %}
    <link rel="webmention" href="{{ site.webmentionUrl }}"/>
{% endif %}

{% if site.pingbackUrl %}
    <link rel="pingback" href="{{ site.pingbackUrl }}"/>
{% endif %}

{%- if site.preloads -%}
    {% for preload in site.preloads %}
        <link rel="preload" as="{{ preload.as }}" type="{{ preload.type }}" href="{{ preload.href }}" {% if preload.crossorigin %}crossorigin="{{ "crossorigin" if preload.crossorigin == true else preload.crossorigin }}"{% endif %}>
    {%- endfor -%}
{%- endif -%}

<meta name="generator" content="{{ eleventy.generator }}"/>

<link rel="shortcut icon" href="/favicon.png" type="image/png">
<link rel="stylesheet" href="/main.css"/>
<title>
    {% if title %}
        {{ title }} - {{ site.title }}
    {% else %}
        {{ site.title }}
    {% endif %}
</title>
