<header>
    <img src="/logo96.webp" height="48" width="48" alt="">
    <br/>
    <div class="h-card">
        <a class="u-url p-name" href="/">Pranav Karawale</a>
    </div>
    <hr />
    <nav>
        <ul>
        {% for entry, link in links.nav %}
            <li>
            <a href="{{ link }}">{{ entry }}</a>
            </li>
        {% endfor %}
        </ul>
    </nav>
</header>