---
layout: "atom.njk"
permalink: "/feeds/activity.xml"
---

{% for entry in collections.activity | sortByDate %}
{% set absoluteEntryUrl %}{{ entry.url | url | absoluteUrl(metadata.url) }}{% endset %}
<entry>
  <title>{{ entry.data.title }}</title>
  <link href="{{ absoluteEntryUrl }}"/>
  <updated>{{ entry.date | dateToRfc3339 }}</updated>
  <id>{{ absoluteEntryUrl }}</id>
  {% if entry.templateContent %}
    <content type="html">{{ entry.templateContent | htmlToAbsoluteUrls(absoluteEntryUrl) }}</content>
  {% endif %}
</entry>
{% endfor %}