---
layout: main
eleventyComputed:
    title: Note taken on {{ date | dateToHuman }}
---

<article class="note h-entry">
    <header>
        <h1>{{ title }}</h1>
        <time class="dt-published" datetime="{{ date | dateToRfc3339 }}">
            {{ date | dateToHuman }}</time>
        <span class="seperator">&centerdot;</span>
       By {% include "thingmajigs/h-card-mini.njk" %}
    </header>
    <aside>
        {% if reply %}
            <p style="padding-left: 1ch">
                Replying to 
                    <a class="u-in-reply-to" href="{{ reply }}">{{ reply }}</a>
            </p>
        {% endif %}
    </aside>
    <div class="e-content p-name">
        {{ content | safe }}
    </div>
</article>
<hr />
{% include "../thingmajigs/comments.njk" %}