---
layout: main
---
<article class="h-entry">
  <h1 class="p-name" class="title">{{ title }}</h1>
  <aside>
    <time class="dt-published" datetime="{{ date | dateToRfc3339 }}">
      {{ date | dateToHuman }}
    </time>
    {{ content | toc | safe }}
  </aside>
  <hr/>
  <div class="e-content">
    {{ content | safe }}
  </div>
</article>