---
layout: main
---
<article class="h-entry">
  <header>
    <h1 class="p-name" class="title">{{ title }}</h1>
    <time class="dt-published" datetime="{{ date | dateToRfc3339 }}">
      {{ date | dateToHuman }}
    </time>
    <span class="seperator">&centerdot;</span>
    <span>By</span>{% include "thingmajigs/h-card-mini.njk" %}
    <br>
    <span>Tagged under: </span>
    {% for tag in tags %}
      <a class="p-category" href="/tags/{{ tag }}">{{ tag }}</a>
    {% endfor %}
  </header>
  <aside>
    {{ content | toc | safe }}
  </aside>
  <hr/>
  <div class="e-content">
    {{ content | safe }}
  </div>
  <footer>
    <hr>
    {% include "../thingmajigs/webmentions.njk" %}
  </footer>
</article>